.header {
  background: #012d63;
  display: flex;
  align-items: center;
}

.logo-nike {
  width: 100px;
  height: 60px;
  margin-left: 168px;
  margin-top: 16px;
}

.nav-list {
  display: flex;
  gap: 29px;
  align-items: center;
}

.nav-1 {
  display: flex;
  width: 112px;
  height: 30px;
  color: #fff;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  margin-left: 152px;
}
.nav-2 {
  display: flex;
  width: 86px;
  height: 30px;
  color: #c7c7c7;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
}
.nav-3 {
  display: flex;
  width: 125px;
  height: 30px;
  color: #c7c7c7;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
}
.nav-4 {
  display: flex;
  width: 88px;
  height: 30px;
  color: #c7c7c7;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
}
.nav-5 {
  display: flex;
  width: 96px;
  height: 30px;
  color: #c7c7c7;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
}
.nav-6 {
  display: flex;
  width: 58px;
  height: 30px;
  color: #c7c7c7;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
}

.language {
  display: flex;
  width: 81px;
  height: 30px;
  flex-direction: column;
  display: flex;
  width: 81px;
  height: 30px;
  flex-direction: column;
  flex-shrink: 0;
  color: #dcdcdc;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 73px;
  margin-right: 165px; 
}
