.header {
  background: #012d63;
  padding: 16px 0;
}

.header-container {
  max-width: 1107px;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language {
  display: flex;

  flex-direction: column;
  margin-left: 73px;
  margin-right: 165px;
}



.background-logo {
  margin: 94px 1110px 644px 170px;
}

.c-r {
  display: flex;
  flex-direction: column;
}


.colorawe::before {
  content: "";
}

.home-container {
  display: flex;
  flex-direction: column;
}

.nav-list li:hover {
  color: #fff;
  font-weight: 400;
}

.nav-list li {
  font-weight: 300;
  color: #c7c7c7;
}

.languige-list {
  display: flex;
  gap: 15px;
}

.nav-list {
  display: flex;
  gap: 29px;
}
 
